src/assignment3/1/request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://lsvh.org/powerServiceRequest">
    <xs:element name="PowerServiceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="x" type="xs:positiveInteger"/>
                <xs:element name="power" type="xs:positiveInteger"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>